:root {
  --main-bg-color: #ee55ee;
}

.gfg {
  width: auto;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.page-normal a {
  border: 1px solid var(--main-bg-color);
  padding: 8px 8px;
  color: var(--main-bg-color);
  margin-left: 10px;
  text-decoration: none;
}

.page-normal a:hover {
  background-color: #33ee99;
}

.page-normal {
  color: var(--main-bg-color);
  text-align: center;
  margin: 40px 10px;
}

.page-normal .page-current {
  color: #ffffff;
  background-color: var(--main-bg-color);
}
